/* 使用网络字体 */
/* 声明了当font-family="Vollkorn" 且为粗体时, 应用该规则 */
@font-face {
  font-family: "MajorMonoDisplay";
  /* font-weight: bold; */
  /* 指定网络字体的url 格式 */
  /* 格式 WOFF */
  /* 可以声明多个url, 指向多个字体格式 */
  src: url("../fonts/Major_Mono_Display/MajorMonoDisplay-Regular.ttf") format("truetype");
}

/* 设置斜体 italic 的网络字体 */
@font-face {
  font-family: "AlegreyaSans";
  src: url("../fonts/alegreya/AlegreyaSans-Italic.woff") format("woff"),
      url("../fonts/alegreya/AlegreyaSans-Italic.woff2") format("woff2");
  font-style: italic;
}