@charset "utf-8";

/* 
* Formatting Model
* Box Model
* Typographic
* Visual
*/

/* 全局设置 */
html,
body {
    min-height: 100vh;
}

body,
header,
h1,
h2,
h3,
p,
dl,
section {
    /* Box Model Style */
    margin: 0;
    padding: 0;
}

body {
    /* typographic */
    font-family: "Helvetica Neue", Arial, "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft YaHei", sans-serif;
    font-size: 16px;
}
/* 清除浮动 */
.clear:after {
    content: "";
    display: block;
    clear: both;
}
/* 文档主体 */

/* header start */
header {
    /* Box Model */
    height: 75px;

    padding-left: 1rem;


    /* Visual */
    color: #ccc;
    background-color: #333;
}

h1 {
    /* Box Model */
    margin-bottom: 1rem;

    /* Typographic */
    line-height: 75px;
}
/* head end */

/* mainpart */
#mainpart {
    /* Box Model */
    
}
/* description */
section {
    /* Box Model */
    height: 140px;
    border-bottom: 1px solid #ccc;

}
section > div {
    /* Model Box */
    margin-left: 160px;
    padding-top: 1rem;
}
section[id="basicInfo"] {
    text-align: left;
}
section h2 {
    /* Formatting Model */
    float: left;
    /* Box Model */
    width: 140px;
    /* Typographic */
    text-align: center;
    line-height: 140px;
    /* Visual */
    color: #000;
    background-color: #999;
}
h2 {
    /* Box Model */

    /* Typographic */
    font-size: 1.5rem;
    
    /* Visual */
    font-weight: normal;
}

#basicInfo h3,
#basicInfo p,
#contact h3,
#contact p {
    /* Formatting Model */
    display: inline-block;

    /* Typographic */
    font-size: 1rem;
}

#basicInfo h3,
#contact h3 {
    /* Box Model */
    margin-right: 10px;
}

#basicInfo p,
#contact p {
    /* Box Model */
    margin-right: 2rem;
}

/* contact start */
/* ability start */
/* education start */
section dt {
    /* Box Model */
    margin-bottom: 5px;
    /* Visual */
    font-weight: bold;
}

section dd {
    /* Typographic */
    text-indent: -40px;
}


/* footer start */
footer {
    /* Box Model */
    height: 75px;

    /* Typographic */
    font-size: 1rem;
    text-align: center;
    line-height: 75px;

    /* Visual */
    color: #ccc;
    background-color: #333;
}
