@charset "UTF-8";
/*head & footer*/
header,
footer {
    height: 40px;
    background-color: red;
}

.container:after {
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}
.right {
    float: right;
    
    width: 80px;
    margin-left: -80px;
    background-color: grey;
}

.main {
    float: left;   
    width: calc(100% - 80px);
    background-color: peachpuff;
}