@charset "UTF-8";
/*head & footer*/
header,
footer {
    height: 40px;
    background: red;
}

.container {
    position: relative;
    height: 300px;
}

.right {
    position: absolute;
    right: 0;
    top: 0;
    width: 80px;
    height: 100%;
    background: grey;
}

.main {
    margin-right: 80px;
    background: palevioletred;
}