@charset "UTF-8";

header,
footer {
    height: 40px;
    background-color: red;
}

.container {
    display: flex;
    height: 300px;
}

.main {
    flex: 1;
    background: orange;
}

.left {
    order: -1;
    width: 80px;
    background: greenyellow;
}

.right {
    width: 80px;
    background: greenyellow;
}