@charset "UTF-8";

header,
footer {
    height: 40px;
    background-color: red;
}

.container {
    display: flex;
    height: 300px;
}

.main {
    width: 800px;
    background-color: orangered;
}

.left {
    order: -1;
    width: 80px;
    background-color: goldenrod;
}

.right {
    flex: 1;
    background-color: gold;
}