@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}
body {
    font: 12px "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    min-width: 780px;
}
/*header样式*/
header {
    background: #666;
    color: #fff;
}
h1 {
    margin-left: 20px;
    padding: 10px 0;
    font-size: 2em;
    line-height: 2em;
}

h2{
    float: left;
    width: 80px;
    padding: 20px;
    background-color: #999;
    font-size: 1.5em;
    line-height: 100px;
}
.info h2 {
    height: 50%;
    line-height: 100px;
}
section {
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc; 
}

section>div {
    padding-left: 140px;
    padding-top: 20px;
}
.personalinfo {
    border-bottom: 1px solid #ccc;
}
.info h3,
.info p {
    float: left;
}
.tech>div:last-child:after,
.education>div:last-child:after,
.project>div:last-child:after {
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

section h3 {
    float: left;
    font-size: 1.5em;
    margin-right: 10px;
}

section p {
    font-size: 1.5em;
    margin-right: 40px;
}