doctype html

html
	head
		meta(charset='utf-8')
		title ToDo List
		style(rel='stylesheet').
			.completed {
			text-decoration: line-through;
			color: #ccc;
			}

			li input:focus {
			outline: none;
			}
	body
		h1 TODO-List
		div#lists
			input(type='checkbox' :checked='listData.filter(list=>list.state).length===listData.length && listData.length > 0' @click='selectAll')
			input(type='text' v-model='inputValue' @keyup='addnew' placeholder='What needs to be done?')
			ul
				li(v-for='(list, index) of listData' v-if="(status==='all')||(Boolean(status) == list.state)")
					input(type="checkbox" :checked ="list.state" v-model='list.state')
					span(v-bind:style="{display: 'inline-block'}")
						input(v-bind:style="{display: 'none', height: '1.5rem', border: 'none', fontSize: '1rem'}" type="text" @keyup='modify(list)' @blur='modify(list)')
						span(v-bind:style="{display: 'inline-block', height: '1.5rem', backgroundColor: '#fff'}" :class="list.state ? 'completed' : 'active'" @dblclick="hide") {{list.message}}
					button(@click='relist(index)')
				div(v-show="listData.length>0")
					| {{listData.filter((list) => !list.state).length}}item{{listData.filter((list) => !list.state).length > 1 ? 's' : ''}} left
					div
						label
							input(type="radio" value='all' v-model="status")
							|All
						label
							input(type="radio" value='' v-model="status")
							|Active
						label
							input(type="radio" value='true' v-model="status")
							|Completed
					button(@click='clear' v-show="listData.filter(list => list.state).length > 0") clear completed
		script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")

