*{
    margin: 0;
    padding: 0;
}
body {

    font-size: 20px;
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

/*header*/
header {
    width: 100%;
      
    background-color: blueviolet;
    border-bottom: 1px solid black;

}

/*navbar*/
nav ul{
    list-style: none;
    position: relative;
    overflow: hidden;
    margin: 0 20%;
}
nav ul li{
    float: left;
    
}
nav ul li a {
    display: block;
    padding: 0 1em;
    line-height: 1em;
    border-left: 1px solid black;
    text-decoration: none;
    font-size: 0.75em;

}
nav ul li a:link,
nav ul li a:visited {
    color: silver;
}
nav ul li a:hover,
nav ul li a:active {
    color: white;
    background: #333 
}
nav ul li:last-child {
    border-right: 1px solid black;
}

/*article*/
article{
}
article a{
    text-decoration: none;
}
/*progect*/
article ul{
    list-style: none;
    font-size: 0.8em;
}
article ul li {
    background: url(../img/bullet.gif) no-repeat 0 50%;
    padding-left: 30px;
}
article ol{
    list-style: upper-roman;
    list-style: url(../img/bullet.gif) inside;
    font-size: 0.8em;
   
}
article ol li {
    line-height: 1.5em;
}

/*footer*/
footer{
    background: blueviolet;
}

footer div{
    text-align: center;
}

/*flexbox*/
body{
    display: flex;
}
header {
    box-flex: 1;
    width: 25%;

}
article {
    box-flex: 5;
}