/*.img-wrapper {
    background: url(/img/C4/shadow.gif) no-repeat bottom right;
    clear: right;
    float: left;
    position: relative;
}*/
/*.img-wrapper img {
    margin: -5px 5px 5px -5px;
    background-color: #fff;
    border: 1px solid #a9a9a9;
    padding: 4px;
    position: relative;

}*/

img {
    box-shadow: 3px 3px 6px #666;
}
