body{
    
}
.box {
    width: 418px;
    background: #effce7 url(img/C4/bottom.gif) no-repeat left bottom;
    padding-bottom: 1px;
}

.box h2{
    background: url(img/C4/top.gif) no-repeat left top;
    margin-top: 0;
    padding: 20px 20px 0 20px;
}
.box p{
    padding: 0 20px;
}

.box2 {
    width: 424px;
    background: url(img/C4/tile2.gif) repeat-y;
}

.box2 h2 {
    background: url(img/C4/top2.gif) no-repeat left top;
    padding-top: 20px;
}

.box2 .last2 {
    background: url(img/C4/bottom2.gif) no-repeat left bottom;
    padding-bottom: 20px;
}

.box2 h2, .box2 p {
    padding-left: 20px;
    padding-right: 20px;
}
