/* NOTE 浮动+margin-left实现 两栏布局 */
.container:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
}

.left {
    float: left;
    width: 200px;
}

.right {
    margin-left: 220px;
}