/* type selector */
p {
    color: red;
}

div {
    width: 100px;
    height: 200px;
}

/* descendant selector */
blockquote p {
    padding-left: 2em;
}

section h1 {
    font-size: 2em;
}

/* ID & class selector */
#intro {
    font-weight: bold;
}

.data-posted {
    color: #ccc;
}

#latest h1 {
    font-size: 1.8em;
}

#latest .date-posted {
    font-weight: bold;
}

/* Child and Adjacent Sibling Selector */
/* > & + combinator */
#nav > li {
    background: url(folder.png) no-repeat left top;
}

h2 + p {
    font-size: 1.4em;
    font-weight: bold;
    color: #777;
}

h2 ~ p {
    font-size: 1.4em;
    font-weight: bold;
    color: #777;
}

/* the Universal Selecotr */
* {
    padding: 0;
    margin: 0;
}

.product-section > * {
    /*  */
}

/* Attribute Selector */
abbr[title] {
    border-bottom: 1px dotted #999;
}

abbr[title]:hover {
    cursor: help;
}

/* http: 开头 */
a[href^="http:"] {
    /*  */
}

/* 以 .jpg 结尾 */
img[src&=".jpg"] {
    /*  */
}

/* 包含字符串/about/ */
a[href*="/about/"]{
    /*  */
}

/* 以空格分割的字符串中包含next */
a[rel~=next]{
    /*  */
}

/* 匹配en/en- en en-us */
a[lang|=en]{
    /*  */
}

/* Pseudo-elements */
::after {
    /*  */
}

::before {
    /*  */
}

::first-line {
    /*  */
}

::first-letter {
    /*  */
}

/* Pseudo class */
a:link {
    /*  */
}

a:visited {
    /*  */
}

a:hover,
a:focus {
    /*  */
}

a:active {
    /*  */
}

/* /#comment-3 */
.comment:target {
    /*  */
}

/* 反选 */
.comment:target:not(.comment-downvoted){

}